$brand: hsl(240, 57%, 53%) !default;
$success: hsl(212, 87%, 47%) !default;
$warning: hsl(34, 88%, 45%) !default;
$danger: hsl(0, 100%, 35%) !default;
$text: hsl(0, 0%, 20%) !default;
$link: $brand !default;
