$neutral-light: #edebe9 !default;

$font-size: 16px !default;
$font-family: Arial, Helvetica, sans-serif !default;
$line-height: 1.5 !default;

$border-radius: .25rem !default;

// mediaquery breakpoints
$breakpoints: (
  'XS':	400px,
  'S':	768px,
  'M':	1024px,
  'L':  1200px,
  'XL': 1540px
) !default;
