@use './index-typography.scss' as *;

.sb-table {
  th, td {
    padding: space(1) space(4);
    text-align: left;
  }
  
  th,
  tr:not(:last-child) td {
    border-bottom: 1px solid #eee;
  }

  tr:nth-child(odd) td {
    background-color: #fafafa;
  }
}

.sb-bar {
  height: space(4);
  background-color: rgb(255, 217, 0);
}

.sb-highlight {
  background-color: rgb(255, 252, 234);
}

.sb-width {
  max-width: 40rem;
}

.sb-fullwidth {
  margin: -1rem;
}

.sb-attn {
  font-weight: normal;
  color: rgb(196, 28, 159);
}

.sb-totop {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: space(12);

  a:not([class]) {
    font-size: 1rem;
    text-decoration: none;
  }
}

.sb-show-columns {
  .column {
    background-color: rgb(255, 252, 234);
    
    .column {
      background-color: rgb(234, 255, 248);
    }
  }
}

.sb-page {
  .card {
    height: 100%;
    border: 0;
    border-radius: 0;
    outline: 1px solid #ccc;

    &__body {
      min-height: space(24);
    }
  }
}

.sb-card-s {
  .card__body {
    min-height: space(16);
  }
}

.sb-macaw {
  font-family: Assistant, 'Segoe UI', Roboto, 'Open Sans', sans-serif;

  a {
    text-decoration: underline;

    &:not([class]) {
      color: #007e9d;
    }
  }
}
