@use '../abstract' as *;
@use '../base/' as *;

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: $neutral-light;
  border-radius: $border-radius;

  &__img {
    width: 100%;
    height: space(64);
    object-fit: cover;
  }

  &__body {
    @extend %box;
  }

  &__title {
    margin-bottom: 0;
    font-size: space(4);
  }

  // variants

  &--img-16-9 {
    .card__img {
      height: unset;
      aspect-ratio: 16/9;
    }
  }

  &--img-1-1 {
    .card__img {
      height: unset;
      aspect-ratio: 1/1;
    }
  }

  &--img-bg {
    position: relative;

    .card__img {
      position: absolute;
      height: 100%;
    }

    .card__body {
      position: relative;
    }
  }
}
