@use '../abstract' as *;
@use '../base/' as *;

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: $border-radius;

  &__img {
    width: 100%;
    height: space(72);
    border-radius: $border-radius $border-radius 0 0;
    object-fit: cover;
  }

  &__body {
    @extend %box;
    display: flex;
    flex-direction: column;
    min-height: space(36);
  }

  &__title {
    margin-bottom: 0;
    font-size: space(4);
  }

  &__text {
    flex: 1 0; // maximize space between text and cta button
  }

  &__cta {
    align-self: flex-start; // do not stretch button 100% wide

    &:not(:first-child) {
      margin-top: space(4);
    }
  }

  //
  // variants
  //

  &--hd-image {
    .card {
      &__img {
        height: auto;
        aspect-ratio: 16/9;
      }

      &__body {
        min-height: auto;
      }
    }
  }

  &--square-image {
    .card {
      &__img {
        height: auto;
        aspect-ratio: 1/1;
      }

      &__body {
        min-height: auto;
      }
    }
  }

  &--bg-image {
    position: relative;

    .card {
      &__img {
        position: absolute;
        height: 100%;
        border-radius: $border-radius;
      }

      // content will be bottom aligned
      &__body {
        position: relative;
        justify-content: flex-end;
        min-height: space(64);
        background-color: hsla(0, 0%, 100%, 50%);
      }

      &__text {
        flex: 0 0;
      }
    }
  }
}
