@use '../abstract' as *;
@use '../base/' as *;
@use 'sass:map';

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: $border-radius;

  &__img {
    width: 100%;
    height: map.get($card, image-height);
    border-radius: $border-radius $border-radius 0 0;
    object-fit: cover;
  }

  &__body {
    @extend %box;
    display: flex;
    flex-direction: column;
    min-height: map.get($card, min-body-height);
  }

  &__title {
    @extend %strip-child-margins;
    margin-bottom: 0;
  }

  &__text {
    @extend %strip-child-margins;
    flex: 1 0; // maximize space between text and cta button
  }

  &__cta {
    align-self: flex-start; // do not stretch button 100% wide

    &:not(:first-child) {
      margin-top: space(4);
    }
  }

  //
  // variants
  //

  &--hd-image {
    .card {
      &__img {
        height: auto;
        aspect-ratio: 16/9;
      }

      &__body {
        min-height: map.get($card, hd-image, min-body-height);
      }
    }
  }

  &--square-image {
    .card {
      &__img {
        height: auto;
        aspect-ratio: 1/1;
      }

      &__body {
        min-height: map.get($card, square-image, min-body-height);
      }
    }
  }

  &--bg-image {
    position: relative;

    .card {
      &__img {
        position: absolute;
        height: 100%;
        border-radius: $border-radius;
      }

      // content will be bottom aligned
      &__body {
        position: relative;
        justify-content: flex-end;
        min-height: map.get($card, bg-image, min-body-height);
        background-color: map.get($card, bg-image, bg-color);
      }

      &__text {
        flex: 0 0;
      }
    }
  }
}
