@use '../abstract/' as *;

.details {
  margin: 0 0 space(1);
  overflow: hidden;
  border: 1px solid $color-details-border;
  border-radius: $border-radius;

  &__summary {
    @extend %strip-child-margins;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: space(2) $box-padding;
    cursor: pointer;
    background-color: $color-details-summary;
    transition: background-color .15s linear;

    &::marker {
      display: none;
    }

    &::after {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.2rem;
      color: $color-details-marker;
      content: '+';
      transition: transform .15s cubic-bezier(.445, .05, .55, .95), color .15s linear;
      transform: rotate(90deg);
    }

    &:hover {
      background-color: $color-details-summary-hover;

      &::after {
        color: $color-details-marker-hover;
      }
    }
  }

  &[open] &__summary::after {
    content: '\002212';
    transition-duration: .3s;
    transform: rotate(180deg);
  }

  &__container {
    overflow: hidden;
    background-color: $color-details-description;
    transition: height .3s cubic-bezier(.165, .84, .44, 1);
  }

  &__content {
    @extend %strip-child-margins;
    padding: space(2) $box-padding;
  }
}
