@use '../abstract/' as *;
@use 'sass:math';

$grid-gutter: space(5);
$grid-gutter-mobile: space(0);
$grid-gap: space(5);

.page {

  display: grid;
  grid-template-areas:  'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: beige;

  > header {
    grid-area: header;
    background-color: aliceblue;
  }

  > main {
    grid-area: main;
    background-color: antiquewhite;

    > .row {
      @if $grid-gutter != $grid-gutter-mobile {
        @include mq(s-max) {
          padding-right: $grid-gutter-mobile;
          padding-left: $grid-gutter-mobile;
        }
      }
      padding-right: max($grid-gutter, calc(50% - math.div($max-site-width, 2)));
      padding-left: max($grid-gutter, calc(50% - math.div($max-site-width, 2)));
    }
  }

  > footer {
    grid-area: footer;
    background-color: aliceblue;
  }
}

.row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: $grid-gap;
  margin: $grid-gap 0;

  &--lightgray {
    padding-top: $grid-gap;
    padding-bottom: $grid-gap;
    background-color: rgb(223, 253, 223);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: $grid-gap;
  background-color: #c9f8ea;
}
